* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.textos-header {
  text-align: left;
  color: rgb(7, 7, 7);
  background-color: rgba(5, 63, 255, 0.796);
  width: 100%;
  font-size: 15px;
}
#ecolombia {
  font-size: 35px;
  margin-right: 40px;
  margin-left: 10px;
}

/*Encabezado de foros*/
.Inicio {
  padding: 0px;
  margin-top: 1%;
  height: 80%;
  background-size: contain;
  background-color: #39793d;
}

#Frase {
  text-align: center;
  margin-bottom: -50%;
  max-width: 50%;
  margin-top: 30%;
  font-size: 25px;
  margin-right: 50%;
  padding: 7%;
  font-family: cursive;
  position: static;
}
#Titulo {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 90px;
  text-align: center;
  margin-bottom: -7%;
}
.derecha {
  margin-right: 50px;
}
.mis {
  margin-left: 40%;
}
/* Boton de Mis foros 
.MisForo{
  border-radius: 100%;
  padding-left: 2%;
  padding-right: 2%;
  margin-left: -3%;
}
.MisForo:hover{
  background-color: #c2fbc5;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);

}
      /* Texto de boton  */

#Misforos {
  font-family: cursive;
  font-size: 65%;
  text-decoration: none;
  color: black;
}

.MisForo:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.MisForo {
  display: inline-block;
  border-radius: 50%;
  background-color: #c2fbc5;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 150%;
  padding: 0%;
  width: 30%;
  margin-top: 5%;
  transition: all 0.5s;
  cursor: pointer;
}

.MisForo span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.MisForo span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.MisForo:hover span {
  padding-right: 25px;
}

.MisForo:hover span:after {
  opacity: 1;
  right: 0;
}

/* Imagen Ecoperri */
#eco {
  position: absolute;
  margin-left: 5%;
  margin-top: 1%;
  width: 17%;
}

/* Boton Crear Foro*/
#Crear {
  font-family: cursive;
  font-size: 65%;
  text-decoration: none;
  color: black;
}
/*.CrearForo{
  margin-left: 85%;
  border-radius: 100%;
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 1% ;
}*/
.CrearForo:hover {
  background-color: #c2fbc5;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.CrearForo {
  display: inline-block;
  border-radius: 50%;
  background-color: #c2fbc5;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 150%;
  padding: 0%;
  width: 10%;
  margin-left: 85%;
  margin-top: -55%;
  transition: all 0.5s;
  cursor: pointer;
  
}

.CrearForo span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.CrearForo span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: 10%;
  transition: 0.5s;
}

.CrearForo:hover span {
  padding-right: 25px;
}

.CrearForo:hover span:after {
  opacity: 1;
  right: CrearForo;
}
#BuscarForo {
  text-align: left;
  margin-left: 85%;
  font-size: 115%;
  font-family: cursive;
  border-image: round;
  position: static;
}
/* Boton de la lupa para Buscar */
.boton {
  margin-left: -7px;
  height: 25px;
}

.texto {
  height: 2%;
  margin-bottom: -22%;
}

.label1 {
  font-family: "Fredoka One", cursive;
  font-size: 20px;
}

.Lupa {
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

/* Zona de body y contenido*/
body {
  background-image: url("../Imagenes/portada2.jpg");
  border-image-width: 100%;
  background-attachment: fixed;
}

.UltEntrada {
  margin-left: 3%;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Fredoka One", cursive;
  font-size: 20px;
}

.paginacionText {
  margin-left: 3%;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 20px;
}

/*Zona de Foros agregados*/
.section {
  margin-right: 55%;
}

.btn {
  width: 92%;
  height: 100px;
  margin-left: 10%;
  margin-top: 2%;
  border-radius: 30%;
  border-color: #92000a;
  margin-bottom: 7%;
  transition: 1s ease all;
}
.btn:hover {
  background-color: #c2fbc5;
  box-shadow: 0 22px 18px 0 rgba(0, 0, 0, 0.5), 0 17px 50px 0 rgba(0, 0, 0, 0.8);
}

.Foropersonales {
  margin-left: 5px;
  margin-top: 5px;
  /* margin-top: 0;
 margin-right: 0%; */
  width: 550px;
  border-top: 3px double black;
  border-bottom: 3px double black;
  /* border-radius: 10%; */
}

.informacion {
  font-size: 100%;
  align-self: center;
  margin-bottom: 0%;
}
.tablaimg {
  width: 250px;
  margin-right: -80%;
}

#img {
  width: 75px;
  border-radius: 100%;
  margin-top: 2%;
  margin-left: -10%;
  margin-bottom: auto;
}
#id {
  font-family: cursive;
  font-size: 125%;
}

/* Zona de proyectos embotellados */
.Mostrador {
  margin-left: 50%;
  border-left: 3px double black;
  margin-top: 50px;
  border-top: 3px double black;
  margin-right: 3%;
  border-right: 3px double black;
  background-color: #39793d;
  margin-block: 20px;
  border-block: 3px double black;
  border-radius: 5%;
  position: absolute;
  height: 100%;
}
.ContenidoRecuadro {
  margin: 5%;
  border-left: 3px dashed black;
  margin-top: 5%;
  background-color: #98fb98;
  border-top: 3px dashed black;
  border-right: 3px dashed black;
  margin-bottom: 20px;
  border-bottom: 3px dashed black;
}
.ContenidoRecuadro h3 {
  text-align: center;
  font-size: 25px;
  font-family: cursive;
  margin-top: 2%;
  margin-bottom: 10%;
}
.textnoticeone {
  margin-left: 35%;
  font-size: 120%;
}

/*Paginacion*/
.paginacionText1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 20px;
}
.paginacion {
  text-align: center;
  bottom: 40px;
  margin-bottom: 40px;
}

.pagNum {
  border-radius: 10px;
  text-decoration: none;
  color: black;
  margin-left: 4px;
  padding: 5px;
  background-color: #eaeaea;
  display: inline-block;
  transition: 1s ease all;
}

.pagNum:hover {
  background-color: #c2fbc5;
}

/* No tocar: este es el pie de pagina*/
.espacio {
  margin-top: 50px;
}

#footer {
  position: fixed;
  left: 0px;
  bottom: 16px;
  height: 30px;
  width: 100%;
}

/*Diseño no esta registrado*/
.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.overlay.active {
  visibility: visible;
}

.popup {
  background-color: #eaeaea;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  max-width: 40%;
  border: 4px solid #4da352;
  padding: 30px;
  transition-duration: 600ms;
  align-items: center;

  transition: 1s ease all;
  transform: scale(0.7);
  opacity: 0;
}

.popup h3 {
  font-family: "Fredoka One", cursive;
  margin-bottom: 20px;
  text-align: center;
}

.popup h4 {
  margin-bottom: 50px;
  text-align: center;
  display: block;
  font-size: 25px;
}

.popup .btn-Ingresar {
  background: #39793d;
  color: #ffffff;
  width: 48%;
  height: 30px;
  transition: 1s ease all;
}

.popup .btn-Ingresar:hover {
  cursor: pointer;
  background-color: #51a856;
}

.btn-Registrar {
  background: #39793d;
  color: #ffffff;
  width: 48%;
  height: 30px;
  transition: 1s ease all;
}

.btn-Registrar:hover {
  cursor: pointer;
  background-color: #51a856;
}

.popup .btn-cancelar {
  margin-top: 5px;
  margin-left: 23%;
  background: #92000a;
  color: #ffffff;
  width: 48%;
  height: 30px;
  transition: 1s ease all;
}

.popup .btn-Icancelar:hover {
  cursor: pointer;
  background-color: #cd000e;
}

.popup.active {
  opacity: 1;
  transform: scale(1);
}

.gif {
  height: 10%;
  margin-top: -15%;
  margin-left: 5%;
  margin-right: -20%;
}
