*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body{
	font-family:'fredoka one';
}
.nav{
    position:absolute;
}
.nav-aprende{
    position:absolute;
	width:100%;
}

.footer{
	width:100%;
}
