*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}
.reserved{
	display:flex;
	background-color:#1E8449;
	width: 100%;
	align-items: baseline;
justify-content: space-between;
}
.footer{
	display:inline-block;
}
.logo{
	margin: 0;
	display:inline-block;
}
.reserved  img{
	width:1.0em;
	height:1.0em;
	display:inline-block;
}
.reserved #p3{
	display:inline-block;
	text-align: center;
	padding-left:2em;
}
