*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bowlby One SC', cursive;
}
body{
    background-image:url("verde-oscuro.jpg");
    background-repeat: none;
    background-size: 200%;
    justify-content: left;
    align-items: center;
}
.FormDelete{

    width: 850px;
    background-color: #fff;
    position: absolute;
    text-align: left;
    padding: 28px;
    border: 5px solid #4da352;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.678);
    margin-top: 100px;
    margin-left: 500px;
    transform:translate(-30%);
}
input{
    border: 2px solid #4da352;
    width: 100%;
    padding: 5px;
    display: block;
    border-radius: 10px;
}
.text_cancelar{
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
    border: none;
    height: 30px;
    background-color: #39793d;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.678);
    color: #fff;
    padding: 3px;
    text-decoration: none;
}
.FormDelete button{
    margin-top: 20px;
    cursor: pointer;
    border: none;
    height: 30px;
    background-color: #39793d;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.678);
    color: #fff;
    padding: 2px;
    margin-left: 280px;
}
.FormDelete button:hover{
    background-color: #4da352;
}
.h3_delete{
    text-align: center;
}